<div class="row">
  <div class="small-12 columns">
    <h1>Now Playing:</h1>
    <span ng-show="playList.current">
      {{playList.current.artist}}: {{playList.current.name}}       
    </span>

    <div><progress max="100" value="{{player.currentPosition}}"></progress></div>
    <ul>
        <li ng-click="player.playPrevious()">previous</li>
        <li ng-click="player.playToggle()">
          <span ng-show="player.playing">playing</span>
          <span ng-hide="player.playing">stopped</span>
	</li>
        <li ng-click="player.playNext()">
	  next
	</li>
    </ul>
    <h2>Playlist</h2>
    
    <a ng-show="playList.playList.length > 0" ng-click="playList.clearPlayList()">clear</a>
    <ul ng-model="playList.playList" ui-sortable>
        <li ng-class="{selected: item == playList.current}" ng-repeat="item in playList.playList">
          <a  ng-click="player.playItem(item)">{{item.artist}}: {{item.name}}</a>
          <a ng-click="playList.removeItem(item)">x</a>
	</li>
    </ul>
  </div>
</div>
