#filter-widget ul.ui-tabs-nav {
    font-size:48%;
}
#artist-list{
    font-size:80%;

}

.artist-header{
    text-decoration:none;
}

.download-link{
    text-decoration:none;
    font-weight:bold;
}

.album-list{
    font-size:80%;
    
}

.album-list > li{
    padding-left:1em;
}

.album-content{
    padding-left:2em;
}

.data-list{
  border-top: solid black .1em;
  list-style-type: none; margin: 0; padding: 0;
}