#filter-widget ul.ui-tabs-nav {
    font-size:48%;
}
#artist-list{
    font-size:80%;
}

.artist-header{
    text-decoration:none;
}

.artist-item{
    background:#d4d4d4;
}

.artist-content{
    background-color:#ffffff;
}
.download-link{
    text-decoration:none;
    font-weight:bold;
}

.album-list{
    font-size:80%;
}

.album-list > li{
    padding-left:1em;
}

.album-content{
    padding-left:2em;
}

.data-list{
    border-top: solid black .1em;
    list-style-type: none; margin: 0; padding: 0;
}

.track-list{
    font-size:80%;
    font-weight:bolder;
}

.relevant-track{
    color:red;

}

#navigation > ul{
    text-align:right;
    list-style-type:none;
}

#navigation > ul > li{
    display:inline-block;
    padding-left:1em;
}

#navigation > ul > li > a{
    text-decoration:none;
    font-weight:bolder;
    color:#7a7f70 ;
}

#results{
    padding:1em;
}

