<ul class="album-list data-list list">
    {{each(album_index, album) items}}
    <li class="album-item">
     <h3>${album.title}&nbsp;&nbsp;<a class="download-link" href="${album.download_url}">(download)</a></h3>
      <table class="album-table">
	{{each album.tracks}}
	<tr class="track-row">
	  <td class="index-cell">${$value.track}</td>
	  <td class="title-cell">
	    {{if $value.on_compilation}}
	      {{if artist_context !=$value.artist}}
	        <span class="track-title">
	       {{else}}
	        <span class="track-title relevant-track">
	       {{/if}}
		${$value.title}</span>
	    {{else}}
	    <span class="track-title">${$value.title}</span>
	    {{/if}}

	  </td>
	  <td class="action-cell">

	    <a class="download-link" 
	       href="${$value.download_url}">
	      download
	     </a>
	     &nbsp;&nbsp;
	     <a class="play-link" artist="${$value.artist}" album-title="${$value.album} - ${$value.year}" track-title="${$value.name}"
		href="${$value.download_url}">
	       play
	     </a>
	  </td>
	</tr>
	{{/each}}
      </table>
    </li>
    {{/each}}
</ul>
