<div id="jp_container_1" class="jp-video">
  <div class="jp-type-playlist">
    <div id="player" class="jp-jplayer"></div>
    <div class="jp-gui">
      <div class="jp-video-play" style="display: none; ">
	<a href="javascript:;" class="jp-video-play-icon" tabindex="1">play</a>
      </div>
      <div class="jp-interface">
	<div class="jp-progress">
	  <div class="jp-seek-bar" style="width: 0%; ">
	    <div class="jp-play-bar" style="width: 0%; "></div>
	  </div>
	</div>
	<div class="jp-current-time">00:00</div>
	<div class="jp-duration">00:00</div>
	<div class="jp-title" style="display: none; ">
	  <ul>
	    <li></li>
	  </ul>
	</div>
	<div class="jp-controls-holder">
	  <ul class="jp-controls">
	    <li><a href="javascript:;" class="jp-previous" tabindex="1">previous</a></li>
	    <li><a href="javascript:;" class="jp-play" tabindex="1">play</a></li>
	    <li><a href="javascript:;" class="jp-pause" tabindex="1" style="display: none; ">pause</a></li>
	    <li><a href="javascript:;" class="jp-next" tabindex="1">next</a></li>
	    <li><a href="javascript:;" class="jp-stop" tabindex="1">stop</a></li>
	    <li><a href="javascript:;" class="jp-mute" tabindex="1" title="mute">mute</a></li>
	    <li><a href="javascript:;" class="jp-unmute" tabindex="1" title="unmute" style="display: none; ">unmute</a></li>
	    <li><a href="javascript:;" class="jp-volume-max" tabindex="1" title="max volume">max volume</a></li>
	  </ul>
	  <div class="jp-volume-bar">
	    <div class="jp-volume-bar-value" style="width: 80%; "></div>
	  </div>
	</div>
      </div>
    </div>
    <div class="jp-playlist">
      <ul style="display: block; "></ul>
    </div>
    <div class="jp-no-solution" style="display: none; ">
      <span>Update Required</span>
      To play the media you will need to either update your browser to a recent version or update your <a href="http://get.adobe.com/flashplayer/" target="_blank">Flash plugin</a>.
    </div>
  </div>
</div>