<table class="track-content data-list list track-list">
  {{each items}}
    <tr class="track-row">
    	<td class="track-cell">${$value.title} by ${$value.artist}</td>
	<td class="action-cell"><a class="download-link" href="${$value.download_url}" artist="${$value.artist}" album-title="${$value.album} - ${$value.year}" track-title="${$value.name}">download</a>
	     &nbsp;&nbsp;
	     <a class="play-link" 
		href="${$value.download_url}">
	       play
	     </a>
	     </td>
	</tr>
	{{/each}}
</table>
